# /etc/systemd/system/telnet_capture.service

[Unit]
Description=Telnet Honeypot
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/honeypot/honeypot.py
WorkingDirectory=/opt/honeypot
Restart=always
User=root

[Install]
WantedBy=multi-user.target
